
/* Hamburgar meny */

.menubutton {
    display: none;
}


/* allmän styling som gäller alla sidor desktop */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-h {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.logo-h img {
    height: auto;
    width: auto;
    padding-right: 10px;
}

.desk_link {

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3 {
    color: #FAD207;
}

a {
    text-decoration: none;
    color: #FAD207;
}

a:hover {
    text-decoration: underline;
    color: #FAD207;
}

.header {
    grid-area: he;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #0900AD;
}

.box_1 {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0900AD;
}

.footer {
    grid-area: fo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0900AD;
}

/* Nedan är alla wrappers och deras grid inställningar i desktop format */

.wrapper_home {
    display: grid;
    grid-template-areas: 
    'he'
    's1'
    'n1' /* Nyheter i olika kategorier på hemsidan */ 
    'b1' /* Bilder från verksamheten på hemsidan */
    'fo';
    grid-template-rows: 15% 25% 25% 25% 10%;
    grid-template-columns: 100%;
    height: 95vh;
    gap: 5px;

}

.wrapper_about {
    display: grid;
    grid-template-areas: 
    'he'
    's1'
    'a1' /* Information om verksamheten */
    'fo';
    grid-template-rows: 15% 25% 50% 10%;
    grid-template-columns: 100%;
    height: 100vh;
    gap: 5px;
}

.wrapper_news {
    display: grid;
    grid-template-areas: 
    'he'
    'n2'/* Nyheter av olika kategorier typ 2 samt Knappar för olika flikar/kategorier av nyheter */
    'fo'; 
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 100%;
    height: 100vh;
    gap: 5px;
}

.wrapper_schedule {
    display: grid;
    grid-template-areas: 
    'he'
    'o1' /* Schema för olika dagar och veckor */
    'fo'
    ;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 100%;
    height: 100vh;
    gap: 5px;
}

@media screen and (max-width: 768px) {

    .img-item {
        width: 90px;
        height: 90px;
    }

/* Scrollbar horisontellt */

    .scroll_wrapper {
        max-height: 120px;
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }

    .scroll_wrapper::-webkit-scrollbar {
        width: 0;
    }

    .scroll_wrapper .item {
        min-width: 90px;
        height: 90px;
        line-height: 110px;
        margin-right: 20px;
    }

    
/* Hamburgermeny mobil */

    .menubutton .menu {
        display: none;
    }

    .menu {
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 0;
    }

    i.material-icons {
        font-size: 2.5rem;
        color: red;
    }

/* Nedan är alla wrappers och deras grid inställningar i mobil format */

    .wrapper_home {
        display: grid;
        grid-template-areas: 
        'he'
        's1'
        'n1' /* Nyheter i olika kategorier på hemsidan */ 
        'b1' /* Bilder från verksamheten på hemsidan */
        'fo';
        grid-template-rows: 15% 25% 25% 25% 10%;
        grid-template-columns: 100%;
        height: 95vh;
        gap: 5px;
    
    }
    
    .wrapper_about {
        display: grid;
        grid-template-areas: 
        'he'
        's1'
        'a1' /* Information om verksamheten */
        'fo';
        grid-template-rows: 15% 25% 50% 10%;
        grid-template-columns: 100%;
        height: 100vh;
        gap: 5px;
    }
    
    .wrapper_news {
        display: grid;
        grid-template-areas: 
        'he'
        'n2'/* Nyheter av olika kategorier typ 2 samt Knappar för olika flikar/kategorier av nyheter */
        'fo'; 
        grid-template-rows: 15% 75% 10%;
        grid-template-columns: 100%;
        height: 100vh;
        gap: 5px;
    }
    
    .wrapper_schedule {
        display: grid;
        grid-template-areas: 
        'he'
        'o1' /* Schema för olika dagar och veckor */
        'fo'
        ;
        grid-template-rows: 15% 75% 10%;
        grid-template-columns: 100%;
        height: 100vh;
        gap: 5px;
    }

/* allmän styling som gäller alla sidor mobil */

    h3 {
        color: #FAD207;
    }

    a {
        text-decoration: none;
        color: #FAD207;
    }

    a:hover {
        text-decoration: underline;
        color: #FAD207;
    }

    .header {
        grid-area: he;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        background-color: #0900AD;
    }

    .box_1 {
        grid-area: s1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #0900AD;
    }

    .footer {
        grid-area: fo;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #0900AD;
    }

/* CSS styling för index.html mobil version */

    .box_2 {
        grid-area: n1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        gap: 5px;
        background-color: #0900AD;
    }

    .box_2 nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #0900AD;
    }

    .box_3 {
        grid-area: b1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #0900AD;
    }

/* CSS styling för about.html mobil version */

    .box_2_scroll {
        grid-area: a1;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        overflow-x: scroll;
        background-color: #0900AD;
    }

/* CSS styling för news.html mobil version */

    .news_body {
        grid-area: n2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% repeat(17%, 5);
        gap: 5px;
        overflow-y: scroll;
        background-color: #0900AD;
    }

    /* CSS styling för schedule.html */

    .schedule {
        grid-area: o1;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 75%;
        gap: 5px;
        background-color: #0900AD;
    }

    .schedule nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: cornflowerblue;
    }

}